h1 {
    text-transform: uppercase;
    text-align: center;
}

body {
    background-color: #e1f7e1;
}

ul {
    margin-left: -20px;
}

/* This is most of the styling for the toolbar. The other toolbar styling is in ul and a.  */
ul li {
    border-style: solid;
    border-color: black;
    background-color: #c4f2d4;
    border-radius: .4em;
    border-width: .1em;
    margin-bottom: .1em;
    padding-bottom: .1em;
    list-style-type: none;
    max-width: 38em;
    font-size: 150%;
    text-align: center;
    border-bottom-left-radius: 1em; 
    border-bottom-right-radius: 1em;
}

a {
    text-decoration: none;
}

h2 {
    margin-left: 1em;
}

p {
    margin-left: 1em;
}

img {
    border-radius: 5%;
    margin-left: 14em;
}

footer {
    text-align: center;
    margin-bottom: 2em;
}